/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
} */
body {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    /* background: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);  */
    background: linear-gradient(to right, #4aa7d9, #ffffff, #00000066);
    margin: 0px;
    padding: 0px;
  }

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.nav-menu.show {
    display: flex;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-menu a:hover {
    background-color: #555;
}

.nav-right {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
}

.home-container {
    padding: 20px;
}

@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
    }

    .nav-menu a {
        padding: 10px 20px;
    }

    .hamburger {
        display: none;
    }
}